@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #1c2331;
}
ul.navbar-nav {
  margin-left: auto !important;
}
ul.navbar-nav li .btn-light {
  padding-left: 120px;
}
/* @media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
} */
.nav-link {
  color: #fff;
}
.wow {
  margin-top: 17rem !important;
}
.arrow {
  height: 60px !important;
}
.wow h1 {
  font-family: 'Fraunces';
  letter-spacing: 5px;
}

.navbar {
    transition: top 0.5s ease;
}
.btn-light {
  border-radius: 25px;
}
.navbar-hide {
    top: -56px;
}


.box {
  max-height: 450px;
  background-color: rgb(253, 250, 243);
}
.client_bg{
  background-color: rgb(253, 250, 243);

}

.box img {
  max-height: 450px;
  width: 100%;
}

.section1 {
  padding: 70px;
  margin: 50px;
}

.section1 h1 {
  font-weight: 900;
  font-family: "Fraunces";
}

.section1 p {
  font-family: "Fraunces";
}
.section1 a {
  font-family: "Fraunces";
  text-decoration: none;
  color: black;
  font-weight: 900;
  text-decoration:rgba(252, 156, 143, 0.966) underline 6px;
}
.section1 a:hover {
  text-decoration: red underline 6px;
}
#hero {
  background: url(images/desktop/image-graphic-design.jpg);
  background-size: cover;
  position: relative;
  height: 450px;
}
.hero_text {
  position: absolute;
  bottom: 20px;
  top: 270px;
  color: hsl(167,40%,24%);
 }
 .graph{
   padding-bottom: 15px;
   font-weight: 900;
   font-family: 'Fraunces';
  
 }
/*.rice{
  height: 50px;
  line-height: 20px;
  
}*/
#hero2 {
  background: url(images/desktop/image-photography.jpg);
  background-size: cover;
  position: relative;
  height: 450px;
}
.client_text{
  color: hsl(210, 4%, 67%);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 24px !important;
  padding-top: 50px;

}
.img-rounded{
  border-radius: 100%;
  position: relative;
  margin: -5px 0 0 150px;
}
img.img-rounded{
  max-width: 20%;
  max-height: 20%;
}
.names{
  font-family: 'Fraunces';
  font-weight: bolder;
}

.Logo {
  font-weight: 900;
  color: #297163;
  /* font-family: 'Fraunces'; */
}

ul.link_list li {
  list-style: none;
  display: inline;
  margin-right: 35px;
}

ul.link_list li a {
  color: #529989;
  text-decoration: none;
}

ul.link_list li a:hover {
  color: white;
}

.Footer_Icons span {
  margin-right: 15px;
  width: 15px;
  color: #297163;
}

.Footer_Icons span:hover {
  color: white;
  cursor: pointer;
}
