.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: #1c2331;
}
ul.navbar-nav {
  margin-left: auto !important;
}
ul.navbar-nav li a.nav-link {
  color: #fff !important;
  font-family: "Barlow";
}
ul.navbar-nav li .btn-light {
  padding-left: 120px;
}
/* @media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
} */
.nav-link {
  color: #fff;
  margin-right: 30px;
}
.wow {
  margin-top: 17rem !important;
}
.arrow {
  height: 60px !important;
}
.wow h1 {
  font-family: "Fraunces";
  letter-spacing: 5px;
}

.navbar {
  transition: top 0.5s ease;
}
.btn-light {
  border-radius: 25px;
  font-family: "Fraunces";
  font-size: 16px;
}
.btn-light:hover {
  color: white;
  background-color: #6fcfff;
}
.navbar-hide {
  top: -56px;
}

.box {
  max-height: 450px;
  background-color: rgb(253, 250, 243);
}
.client_bg {
  background-color: rgb(253, 250, 243);
}

.box img {
  max-height: 450px;
  width: 100%;
}

.section1 {
  padding: 70px;
  margin: 50px;
}

.section1 h1 {
  font-weight: 900;
  font-family: "Fraunces";
}

.section1 p {
  font-family: "Fraunces";
}
.section1 a {
  font-family: "Fraunces";
  text-decoration: none;
  color: black;
  font-weight: 900;
}
.section1 a.diff {
  text-decoration: hsl(51, 92%, 64%) underline 6px;
}
.section1 a.diff:hover {
  text-decoration: hsl(51, 100%, 49%) underline 6px;
}

.section1 a.diff1 {
  text-decoration: hsla(7, 96%, 72%, 0.933) underline 6px;
}
.section1 a.diff1:hover {
  text-decoration: hsl(7, 97%, 60%) underline 6px;
}

.section1 a:hover {
  text-decoration: red underline 6px;
}
/* #hero {
  background: url(images/desktop/image-graphic-design.jpg);
  background-size: cover;
  position: relative;
  height: 450px;
} */
.grape {
  position: relative;
  text-align: center;
}
.text_graph {
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-70%, -20%);
  width: 100%;
  color: hsl(167, 40%, 24%);
}

.graph {
  padding-bottom: 15px;
  font-weight: 900;
  font-family: "Fraunces";
}
.housed-class {
  width: 100%;
}
.column-images img {
  height: 200px;

}
div.column-images {
  display: inline !important;
  width: 100%;
}
.client_text {
  color: hsl(210, 4%, 67%);
  text-transform: uppercase;
  letter-spacing: 8px;
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px !important;
  padding-top: 50px;
}
.img-rounded {
  border-radius: 100%;
  position: relative;
}
img.img-rounded {
  max-width: 20%;
  max-height: 20%;
}
.names {
  font-family: "Fraunces";
  font-weight: bolder;
}

.Logo {
  font-weight: 900;
  color: #297163;
}

ul.link_list li {
  list-style: none;
  display: inline;
  margin-right: 35px;
}

ul.link_list li a {
  color: #529989;
  text-decoration: none;
}

ul.link_list li a:hover {
  color: white;
}

.Footer_Icons span {
  margin-right: 15px;
  width: 15px;
  color: #297163;
}

.Footer_Icons span:hover {
  color: white;
  cursor: pointer;
}
/* Media Queries */

@media screen and (max-width: 1200px) {
  .view {
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .wow {
    margin-top: 14.5rem !important;
    margin-left: 9.5rem !important;
  }
}
@media screen and (max-width: 1100px) {
  .wow {
    margin-left: 13rem !important;
  }
}

@media screen and (max-width: 992px) {
  .nav_content {
    text-align: center;
    background-color: #fff;
    margin: 25px;
    padding: 45px;
  }
  ul.navbar-nav li a.nav-link {
    color: hsl(167, 40%, 24%) !important;
    font-size: 20px;
    font-weight: 700;
  }
  .btn-light {
    color: #000;
    background-color: hsl(51, 100%, 49%);
    text-align: center;
  }
  .view {
    background-image: url(images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .wow {
    margin-top: 14.5rem !important;
    margin-left: 15rem !important;
  }

  .content-text {
    padding: 4px !important;
  }
  .graph {
    padding-bottom: 15px;
    font-weight: 900;
    font-family: "Fraunces";
  }
}
@media screen and (max-width: 900px) {
  .wow {
    margin-left: 18rem !important;
  }
}
@media screen and (max-width: 800px) and (max-width: 850px) {
  .wow {
    margin-left: 15rem !important;
  }
}
@media screen and (max-width: 768px) {
  .nav_content {
    text-align: center;
    background-color: #fff;
    margin: 25px;
    padding: 45px;
  }
  ul.navbar-nav li a.nav-link {
    color: hsl(167, 40%, 24%) !important;
    font-size: 20px;
    font-weight: 700;
  }
  .btn-light {
    color: #000;
    background-color: hsl(51, 100%, 49%);
    text-align: center;
    padding-left: 5px;
  }
  .view {
    background-image: url(images/mobile/image-header.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .wow {
    margin-top: 17.5rem !important;
    margin-left: 6rem !important;
  }
  .wow h1 {
    font-size: 45px;
    margin-bottom: 2rem !important;
  }
  .arrow {
    height: 85px !important;
  }
  .section1 {
    padding: 20px !important;
    margin: 30px !important;
  }
  .section1 h1,
  p {
    text-align: center;
  }
  #hero {
    background-image: url(images/mobile/image-graphic-design.jpg) !important;
    background-size: cover;
    position: relative;
    height: 650px;
  }

  .hero_text {
    position: absolute;
    bottom: 5px;
    top: 440px;
    color: hsl(167, 40%, 24%);
  }
  .content-text {
    padding: 4px !important;
  }
  .graph {
    padding-bottom: 15px;
    font-weight: 900;
    font-family: "Fraunces";
  }

  #hero2 {
    background: url(images/mobile/image-photography.jpg);
    background-size: cover;
    position: relative;
    height: 650px;
  }
  ul.link_list li {
    list-style: none;
    display: inline;
    margin-right: 25px;
  }
  .text_graph {
    top: 65%;
  }
}

@media screen and (max-width: 576px) {
}
